[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
adafruit-dht = "*"
setuptools = "*"
wheel = "*"
python-dotenv = "*"

[requires]
python_version = "3.6"
